.popup__button {
  all: unset;
  width: 100%;
  background: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  margin: 20px 0 37px;
  padding: 15px 0 14px;
  cursor: pointer;
  border-radius: 2px;
  transition: 0.3s;
}

.popup__button:not(:disabled):hover {
  opacity: 0.8;
}

@media screen and (max-width: 625px) {
  .popup__button {
    font-size: 14px;
    line-height: 17px;
    margin: 15px 0 25px;
  }
}
