.profile__subtitle {
  max-width: 288px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
  margin: 0;
  width: 100%;
}

@media screen and (max-width: 625px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
