.profile__edit-button {
  all: unset;
  background-image: url(../../../image/Edit-Button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: 24px;
  height: 24px;
  cursor: pointer;
  align-self: flex-end;
  margin: 0 0 9px 18px;
  transition: 0.3s;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 625px) {
  .profile__edit-button {
    max-width: 18px;
    height: 18px;
    margin: 0 19px 9px 10px;
  }
}
