.card__delete-icon {
  all: unset;
  position: absolute;
  top: 20px;
  right: 20px;
  border: 0;
  background-image: url(../../../image/Delete-Icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 19px;
  cursor: pointer;
  transition: 0.3s;
}

.card__delete-icon:hover {
  opacity: 0.5;
}
